.summaryItemLabel--totalizer {font-size: 14px;}

.price.price--totalizer {font-size: 14px;}

.summaryItemContainer.summaryItemContainer--totalizer {
  margin: 5px 0 0 0;
}
.summarySmallDisclaimer {display: none;}

