.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

/*------------------------------------*/
/*         Porcentaje footer2        */
/*----------------------------------*/
.acceptedPaymentMethodContainer {
  width: 90%;
  margin-left: 10%;
}
/*>>>>>>>>>Cierre Flechas de slider*/
