.menuLinks{
    background: white;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    width: 123%;
}
:global(.vtex-account_menu-link){
    border-bottom: 1px solid #D3D3D3;
    padding: 22px 17px;
    margin: 0;
}
.boxContainerBody{
    background: white;
}
.boxContainer{
    background-color: white;
}
.dataEntryLabel{
    font-weight: 700;
    font-size: 17px;
    line-height: 15px;
    color: #363636;
}
@media (max-width: 700px) {
    .menuLinks{
        width: 100%;
    }
    .menu {
        padding: 25px 15px;
    }
    .userInfo {
        justify-content: flex-start !important;
    }
}