/*-------------------------------------*/
/*    Menú vertical para aside izq    */
/*-----------------------------------*/

.styledLinkContainer {
  display: block;
  padding: 0;
}

.styledLinkContent {
  margin-top: 2.4rem;
  font-size: 9px;
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
}

.menuContainer {
  display: block;
}

.menuItem--vertical {
  border-bottom: 2px solid #7e7e7e;
}
/*>>>>>Cierre Menú vertical para aside izq*/

