.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
:global(.vtex-store__template){
  background: #FAFAFA;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.imageElement--imgCategoriaSlider{
  width: 100%;
  height: auto;
}
.imageElement--logoFooter {
  width: 300px;
}
.infoCardContainer--slider-banner-item {
  width: 90%;
  height: 275px;
}
.infoCardContainer--banner-seg-6{
  height: 100%;
}
.infoCardContainer--banner-seg-1{
  height: 100%;
}
.infoCardContainer--banner-seg-2{
  height: 100%;
}
.infoCardContainer--banner-seg-3{
  height: 100%;
}
.infoCardContainer--banner-seg-4{
  height: 100%;
}
.infoCardContainer--banner-seg-5{
  height: 100%;
}
.productImagesThumb {
  width: 28%!important;
  margin: 10px;
}
.productImagesThumb {
  opacity: 0.5;
}
.productImagesThumbActive {
  border: 1px solid black;
  opacity: 1;
}
.carouselGaleryThumbs {
  position: absolute;
  bottom: -46px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 34%;
}
.searchBarContainer{
  padding-left: 49px;
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

/*------------------------------*/
/*      Tamaño de buscador     */
/*----------------------------*/
.autoCompleteOuterContainer {
  width: 36rem;
  margin-right: 3rem;
}
/*>>>>>Cierre Tamaño de buscador*/
.imageElement--img-category-salider-item{
  width: 100%;
  border-radius: 5px;
  position: relative;
  transition: 400ms all;
}
.imageElementLink--img-category-salider-item::before{
  content: "";
  top: 0;
  left: 0;
  width: 94%;
  height: 93%;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
  overflow: hidden;
  display: block;
  border-radius: 5px;
  opacity: 0;
}
/* hover del slider del category */
.imageElementLink--img-slider-category-hover{
  position: absolute;
  width: 94%;
  height: 93%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 9999999;
  visibility: hidden;
  transition: 400ms all;
}
/* slider banner dos */
.imageElementLink--imgCategoriaSlider{
  width: 97%;
}
@media (max-width: 600px) {
  .imageElement--LupaImagen {
    width: 23px;
    min-width: 23px;
    margin-top: 2px;
  }

  .imageElement--filtroImagen {
    width: 22px;
    margin-top: 2px;
  }
  .specificationsTableContainer.specificationsTableContainer--especsapli {
    margin-top: 0;
}
.resultsList {
  margin: 0px;
  max-height: calc(100vh - 6.2rem);
  bottom: 13.5%;
}

.autoCompleteOuterContainer.autoCompleteOuterContainer--clear-button {width: 100%;}

.searchBarContainer {padding: 0;width: 100%;}

}
.container {
  max-width: 98%;
}

.skuSelectorSubcontainer--tamano.skuSelectorSubcontainer {margin: 0;}

.skuSelectorContainer.skuSelectorContainer {margin: 0;}

.skuSelectorContainer--aperturacantidad .skuSelectorSelectContainer{
  width: 100%;
}
.skuSelectorContainer--aperturacantidad .skuSelectorOptionsList{
  margin: 0;
}
.skuSelectorName {color: black;font-weight: 400;font-size: 13px;}
.skuSelectorNameContainer {
  margin: 5px 0 0 0;
}
.productImage {
  background: white;
}
.imageElement--imgCategoriaSlider.imageElement--imagenprod {
    height: auto !important;
}
.imageElement--quienes-somos-imagen{
  width: 97%;
  border-radius: 10px;
}
.imageElement--certificaciones{
  width: 230px;
}
.infoCardContainer--mision-vision {
  width: 97% !important;
  border-radius: 10px;
  height: 350px;
  position: relative;
}
.infoCardCallActionContainer--mision-vision {
  opacity: 0;
  display: none;
}
.infoCardTextContainer--mision-vision {
  width: 86%;
  background: white;
  padding: 0 25px;
  position: absolute;
  bottom: -103px;
  height: 194px;
}
.infoCardHeadline--mision-vision {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.05em;
  position: relative;
  /* azul 3 */

  color: #182841;
}
.infoCardHeadline--mision-vision::after {
  content: "";
  width: 8%;
  border-bottom: 3px solid #ED6B10;
  position: absolute;
  bottom: 0;
  left: 42.6%;
}
.infoCardSubhead--mision-vision {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #808080;
}
.imageElement--historia-carousel{
  width: 98%;
}
.imageElement--valor{
  width: 65%;
}
.imageElement--imagen-video{
  width: 60%;
}
@media (max-width: 1300px) {
  .autoCompleteOuterContainer {
    width: 24rem;
    margin-right: 3rem;
  }
}
@media (max-width: 1710px) {
  .imageElement--bannerMenuDesk{
    width: 61%!important;
  }
}
@media (max-width: 1400px) {
  .imageElement--bannerMenuDesk{
    width: 70%!important;
  }
}