.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

/*----------------------------------*/
/*         Flechas de slider       */
/*--------------------------------*/
/*svg derecho*/
.caretIcon--carousel {
  margin-top: 35rem;
  margin-right: 5rem;
}

/*svg izquierdo*/
.caretIcon.caretIcon--carousel {
  margin-left: 73rem;
}
/*>>>>>>Cierre Flechas de slider*/


/*-------------------------------------*/
/*         Porcentaje de slider       */
/*-----------------------------------*/
.imageElement--carousel {
  width: 92.4%;
  margin-left: 7.6%;
}
/*>>>>>>>>>Cierre Flechas de slider*/
