.highStockText {
     margin-top: 18px;
}
.container {
    margin-top: 18px;
}
.lowStockText {
    color: black;
    font-weight: bold;
    font-size: 13px;
}
.lowStockHighlight {
    font-weight: bold;
    color: #ED6B10;
    font-size: 13px;
}
.lowStockHighlight::after {
    content: "UND";
    margin-left: 3px;
}
.lowStockHighlight::before {
    content: "<";
    margin-left: 4px;
    margin-right: 3px;
    font-weight: bold;
}
@media (max-width: 600px) {
.container {
  display: none;
}
}
.container {
  display: none;
}
