:global(.vtex-flex-layout-0-x-flexColChild--productRightColumn) .sellingPriceValue .currencyContainer{
    color:#004D9D;
    font-size: 28px;
    letter-spacing: 0.05em;
}
:global(.vtex-flex-layout-0-x-flexRow--fichaProducto) .sellingPriceValue .currencyContainer{
    color:#004D9D;
    font-size: 25px;
    letter-spacing: 0.05em;
}
.currencyDecimal{
    display: none;
}

.sellingPriceValue--summary{
    margin-top: 5px;
    display: block;;
}

.listPrice.listPrice--summary {margin: 6px 19px 0 0;}

.currencyFraction:last-child {
  display: none;
}
